<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mailbox</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
</head>
<body>
    <div class="container mt-5">
        <div class="mb-3">
            <a href="{% url 'users:dashboard' %}" class="btn btn-outline-secondary">Back to Dashboard</a>
        </div>
        <div class="d-flex align-items-center justify-content-between">
            <h2 class="text-center mb-4">Mailbox</h2>
        </div>

        
</body>
</html>